// Import the corporate theme if present (copied to assets/theme by prebuild script)
@use "assets/theme/theme.scss" as *;

@import "@siemens/ix/dist/siemens-ix/siemens-ix.css";
@import "ag-grid-community/styles/ag-grid.css";
