<ix-modal-header
  icon="trashcan"
  icon-color="color-alarm"
  (closeClick)="dismiss()"
>
  {{ "device-delete-modal.title" | translate }}
</ix-modal-header>
<ix-modal-content>{{
  "device-delete-modal.content" | translate
}}</ix-modal-content>
<ix-modal-footer>
  <ix-button
    variant="subtle-secondary"
    (click)="dismiss()"
    (keydown.enter)="dismiss()"
  >
    {{ "device-delete-modal.dismiss" | translate }}
  </ix-button>
  <ix-button variant="danger-primary" (click)="close()" (keydown.enter)="close()">
    {{ "device-delete-modal.close" | translate }}
  </ix-button>
</ix-modal-footer>
