.device-row {
  height: 100%;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.device-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
