.description {
  display: block;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-inline-size: min(360px, 100%);
}

.button-row {
  display: flex;
  gap: 1rem;
  margin-block-start: 0.5rem;
  justify-content: flex-end;
}
