.chartsPage {
  inline-size: 100%;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
}

.pageHeader ix-content-header {
  flex: 1;
}

.description {
  display: block;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

.chartTitle {
  margin-block-end: 1rem;
}

.chartContainer {
  inline-size: 100%;
  max-inline-size: min(700px, 100%);
  block-size: min(400px, 60vw);
  margin: 0;
}

.tableContainer {
  inline-size: 459px;
  max-inline-size: 100%;
}

.tableContainer :global(.ag-cell) {
  padding: 8px;
  line-height: 20px;
}
