@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "@siemens/ix-aggrid/dist/ix-aggrid/ix-aggrid.css";

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

ix-content {
  min-width: 20rem;
}
