<ix-content-header headerTitle="Grids"></ix-content-header>
<ix-typography format="body" class="description">
  Siemens Industrial Experience integrates the data grid library
  <a href="https://www.ag-grid.com" target="_blank" rel="noreferrer" aria-label="AG Grid (opens in a new tab)">AG Grid</a>.
  <br />
  This lets you use its features while staying consistent with the Siemens Industrial
  Experience design system.
</ix-typography>

<section class="grid-container" aria-label="Inspection data grid">
  <ag-grid-angular
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    suppressMovableColumns="true"
    domLayout="autoHeight"
    [theme]="ixTheme"
    aria-label="Inspection records table"
  />
</section>
