<div class="user-settings">
  <ix-typography format="h4" class="theme-title">
    {{ "settings.theme" | translate }}
  </ix-typography>
  <section class="theme-selection">
    <div (click)="onThemeChange('theme-brand')" class="theme-button">
      <div class="theme-image-preview" [class.active]="selectedThemeVariant === 'theme-brand'">
        <img src="/assets/images/brand.png" alt="Siemens brand theme" draggable="false" />
      </div>
      <div>
        <ix-radio label="Siemens Brand" [checked]="selectedThemeVariant === 'theme-brand'" [disabled]="!isProdMode">
        </ix-radio>
      </div>
    </div>
    <div (click)="onThemeChange('theme-classic')" class="theme-button">
      <div class="theme-image-preview active" [class.active]="selectedThemeVariant === 'theme-classic'">
        <img src="/assets/images/classic.png" alt="Siemens classic theme" draggable="false" />
      </div>
      <div>
        <ix-radio label="Classic" [checked]="selectedThemeVariant === 'theme-classic'"></ix-radio>
      </div>
    </div>
  </section>
  <section>
    <ix-typography class="headline-language" format="h4">
      {{ "language.title" | translate }}
    </ix-typography>
    <section class="language-selection">
      <ix-radio-group>
        <ix-radio label="{{ 'language.en' | translate }}" [checked]="currentLang === 'en'"
          (checkedChange)="switchLanguage('en')"></ix-radio>
        <ix-radio label="{{ 'language.de' | translate }}" [checked]="currentLang === 'de'"
          (checkedChange)="switchLanguage('de')"></ix-radio>
      </ix-radio-group>
    </section>
  </section>
</div>